                  :root {
                      --primaryfont: "niveau-grotesk", sans-serif;
                      --secondaryfont: Quicksand;
                      --p-sm-size: 16px;
                      --h1-sm-size: 32px;
                      --h2-sm-size: 28px;
                  }

                  @media only screen and (max-width:576px) {

                      /* Footer */
                      .footer-first-section {
                          flex-direction: column;
                      }

                      .subscribe-footer {
                          /* width: 100%; */
                          flex-wrap: nowrap;
                          margin-top: 15px;
                      }

                      .subscribe-footer input {
                          width: fit-content;
                      }

                      .footer-tagline p {
                          width: 100%;
                      }

                      .footer-lang {
                          justify-content: start;
                      }

                      .social-foot {
                          text-align: left;
                      }

                      .footer-social-nav {
                          justify-content: flex-start;
                      }

                      /* Index */
                      .target-img {
                          width: 300px;
                          height: 300px;
                      }

                      .bullseye-img {
                          width: 150px;
                      }

                      .hero-img-section .left-alert {
                          margin-bottom: 0px !important;
                      }

                      .hero-img-section .right-alert {
                          margin-top: -10px !important;
                          margin-right: 15px !important;
                      }

                      .heatmap-image {
                          width: 100vh;
                          height: 300px;
                      }

                      .heatmapImageAfter {
                          object-fit: cover;
                          width: 300px;
                      }

                      .generated-report-section .report-paragraph {
                          width: 100%;
                      }

                      .generated-report-section .possible-diseases-card {
                          width: 100% !important;
                      }

                      .product-carousel {
                          margin-top: 2rem;
                      }

                      .product-right-text .product-name {
                          font-size: 1.5rem;
                          align-items: center !important;
                          text-align: center !important;
                      }

                      .product-right-text .product-description p,
                      .product-right-text .product-description li,
                      .product-right-text .product-description ul {
                          font-size: 1rem;
                          text-decoration: none !important;
                      }

                      .swiper-button-next,
                      .swiper-button-prev {
                          display: none !important;
                      }

                      .product-right-text {
                          margin-top: 20px;
                          padding: 0.8rem !important;
                          text-align: justify;
                      }

                      .news-card {
                          padding: 20px;
                      }

                      .news-card .card-title {
                          font-size: 1.2rem;
                      }

                      .news-card .news-card-body p {
                          font-size: 1rem;
                      }

                      .news-media-btn {
                          padding-top: 2rem;
                      }

                      .products-section {
                          margin-bottom: 1rem;
                      }

                      .stats-data .stats-number {
                          font-size: 4rem;
                      }

                      .heading-text {
                          font-size: 2rem !important;
                          margin: 0px 0px;
                      }

                      .cta-btn {
                          font-size: 18px !important;
                      }

                      .cta-btn-primary,
                      .cta-btn-secondary {
                          width: 100%;
                          box-sizing: border-box;
                          padding: 10px 0;
                          /* Adjust padding */
                      }

                      .button-wrapper {
                          flex-direction: column;
                          /* keep them side by side */
                          justify-content: center;
                          /* center align */
                          /* Align to stretch across the full width */
                          margin-top: 2px;
                          /* Reduced from 100px */
                          gap: 5px;
                          /* Reduced gap between buttons */
                      }

                      .product-right-text .cta-btn-primary {
                          margin-top: 0rem;
                          padding: 10px 20px !important;
                      }

                      .partners-image-slide {
                          gap: 0.5rem;
                          margin-top: 1rem;
                          margin-bottom: 1rem;
                      }

                      .partner-logo {
                          width: 50px;
                      }

                      .generated-report-section .report-paragraph p {
                          font-size: 12px;
                      }

                      .animated-scroll {
                          display: none;
                      }

                      .generated-report-section .possible-diseases-card {
                          width: 80%;
                      }

                      .publication-center,
                      .newsmedia-center {
                          border-radius: 1.875rem 1.875rem 1.875rem 1.875rem !important;
                          padding: 1.5rem;
                      }

                      .newsandmedia-heading {
                          text-align: center;
                      }

                      .publication-center {
                          margin-top: 1rem;
                      }

                      /* About Page */
                      .vision-left .subtitle {
                          width: 95%;
                      }

                      .vision-left .vision-paragraph {
                          width: 95%;
                      }

                      .mission-details .mission-stats {
                          margin: auto !important;
                          flex-direction: column;
                          padding: 20px;
                          display: flex;
                          align-items: baseline;
                          flex-wrap: nowrap;
                          justify-content: center;
                          gap: 1rem;
                      }

                      .mission-details .mission-stats .mission-stats-data .stats-number {
                          font-size: 2rem !important;
                      }

                      .mission-details .mission-stats .mission-stats-data .stats-tagline {
                          font-size: 1rem !important;
                      }

                      .mission-details .mission-details-left {
                          padding-left: 0px !important;
                      }

                      .mission-details {
                          margin: 5px;
                      }

                      .publication-name h2 {
                          font-size: 1.2rem;
                          width: 100%;
                      }

                      .published-by span {
                          font-size: 0.8rem;
                      }

                      .publication-date .posted-on {
                          font-size: 1rem;
                      }

                      .publication-link a {
                          font-size: 1rem;
                      }

                      .publication-date .date {
                          margin-left: 0.5rem;
                          font-size: 1rem;
                      }

                      .publication-date {
                          flex-direction: row;
                          justify-content: flex-start;
                      }

                      .publication-link {
                          justify-content: flex-start;
                      }
                  }

                  @media only screen and (max-width:768px) {

                      /* Footer */
                      .subscribe-footer input {
                          width: fit-content;
                      }

                      .cta-btn-primary,
                      .cta-btn-secondary {
                          padding: 10px 10px;
                          /* Adjust padding */
                      }

                      .footer-lang {
                          justify-content: start;
                      }

                      .social-foot {
                          text-align: left;
                      }

                      .footer-social-nav {
                          justify-content: flex-start;
                      }

                      .partners-left p {
                          font-size: var(--p-sm-size);
                      }

                      .partners-right .img-caption {
                          font-size: 11px;
                      }

                      .partner-logo-box {
                          padding: 30px 30px;
                      }

                      .parntner-logo-img {
                          padding: 5px;
                          width: auto;
                      }

                      /* Index */
                      .hero-text .h1 {
                          font-size: var(--h1-sm-size);
                      }

                      .diseases-mobile {
                          width: 100%;
                      }

                      .test-types {
                          font-size: 14px;
                          padding: 6px 15px;
                      }

                      .hero-img-section .left-alert {
                          margin-left: 15%;
                          margin-bottom: 30px;
                      }

                      .hero-img-section .right-alert {
                          margin-top: 30px;
                          margin-right: 20%;
                      }

                      .generated-report-section {
                          margin-top: 30px;
                      }

                      .swiper-button-next,
                      .swiper-button-prev {
                          display: none !important;
                      }

                      .newsandmedia-card .news-date {
                          font-size: 1rem;
                      }

                      .newsandmedia-card .newsandmedia-body a {
                          font-size: 1rem;
                      }

                      .newsandmedia-body,
                      .publication-card {
                          padding: 0.8rem 1rem;
                      }

                      .publication-card a {
                          font-size: 1rem;
                      }

                      .product-right-text {
                          padding: 2rem;
                      }

                      /* Header */
                      header .dropdown-item {
                          text-align: end;
                      }

                      .nav-link {
                          text-align: end;
                      }

                      /* About Page */
                      .about-vision {
                          margin-top: 40px;
                      }

                      .vision-left .heading-text {
                          font-size: var(--h1-sm-size);
                      }

                      .vision-left .subtitle {
                          font-size: var(--h2-sm-size);
                      }

                      .vision-left .vision-paragraph {
                          font-size: var(--p-sm-size);
                      }

                      .about-mission .heading-text {
                          font-size: var(--h1-sm-size);
                          margin-bottom: 30px;
                      }

                      .about-mission {
                          margin-top: 40px;
                          margin-bottom: 80px;
                      }

                      .mission-details .mission-details-left {
                          padding-left: 20px;
                      }

                      .mission-details .mission-details-left .subtitle {
                          color: #E57424;
                          font-family: var(--primaryfont);
                          width: 100%;
                          font-size: var(--h2-sm-size);
                      }

                      .mission-details .mission-stats {
                          max-width: fit-content;
                          /* margin-right: 20px; */
                          /* padding: 30px; */
                      }

                      .mission-details .mission-details-left .mission-left-text {
                          width: 95%;
                          font-size: var(--p-sm-size);
                      }

                      .about-mission .mission-video {
                          width: 100%;
                          margin-bottom: 24px;
                      }

                      .mission-details .mission-stats .mission-stats-data .stats-number {
                          font-size: 24px;
                      }

                      .mission-details .mission-stats .mission-stats-data .stats-tagline {
                          font-size: 18px;
                      }

                      .white-headline {
                          font-size: 2rem !important;
                      }

                      .demo-section {
                          padding: 2rem 1rem;
                      }

                      .white-paragraph {
                          font-size: 1rem;
                          width: 90%;
                      }

                      .white-btn {
                          padding: 1rem 2rem;
                          font-size: 1rem;
                      }

                      .products-section .heading-paragraph {
                          font-size: var(--p-sm-size);
                          width: 95%;
                      }

                      .product-page-section .product-slide {
                          padding: 2rem 1rem;
                      }

                      .heading-paragraph {
                          font-size: var(--p-sm-size) !important;
                          width: 95% !important;
                      }

                      .contact-map .left-section h3 {
                          font-size: 1.2rem;
                      }

                      .contact-map .left-section ul li {
                          font-size: 1rem;
                      }

                      .contact-form {
                          padding: 0px !important;
                      }

                      .contact-submit {
                          font-size: 1rem;
                          padding: 10px 16px;
                          height: auto;
                          margin-top: 2rem;
                      }

                      .left-section {
                          margin-top: 2rem;
                      }

                      .contact-us-map {
                          margin-bottom: 1rem;
                      }

                      .contact-map {
                          margin-top: 2rem;
                      }

                      /* Publications */
                      .publications .heading-paragraph {
                          margin-bottom: 2rem;
                      }

                      .publication-div {
                          width: 100%;
                          padding: 1rem;
                      }

                      .publications {
                          margin-bottom: 2rem;
                      }
                  }

                  @media only screen and (min-width:769px) and (max-width:1440px) {
                      .hero-text .h1 {
                          font-size: 56px;
                      }

                      .generate-report {
                          margin-top: -8rem !important;
                      }

                      .diseases-mobile {
                          width: 95%;
                      }

                      .test-types {
                          font-size: 1rem;
                          padding: 6px 15px;
                      }

                      .heatmap-image {
                          width: 200px;
                          height: 154px;
                      }

                      /* .report-image {
                 width: 80%;
             } */
                      .report-paragraph {
                          width: 85% !important;
                      }

                      .generated-report-section .possible-diseases-card {
                          width: 80%;
                      }

                      .target-img {
                          width: 300px;
                          height: 300px;
                      }

                      .hero-img-section .right-alert {
                          margin-top: 0rem;
                      }

                      .bullseye {
                          padding-top: 1rem;
                      }

                      .bullseye-img {
                          width: 150px;
                      }

                      .cta-btn-primary,
                      .cta-btn-secondary {
                          padding: 15px 30px;
                          /* Original padding */
                      }

                      .mission-details .mission-details-left {
                          padding-left: 0px !important;
                      }

                      .mission-details .mission-details-left .mission-left-text {
                          width: 95%;
                          font-size: var(--p-sm-size);
                      }

                      .mission-details .mission-details-left .subtitle {
                          color: #E57424;
                          width: 100%;
                      }

                      .mission-details .mission-stats {
                          max-width: 100%;
                      }
                  }

                  @media only screen and (min-width:1024px) {
                      .generate-report {
                          margin-top: -10rem;
                      }
                  }